*{
    margin: 0;
    padding: 0;
}
/* html{
    font-size: 65.5%;
    /* 65.5% = 1rem = 10px */
/* } */ 
body{
    color: white;
    background-color: black;

    /* background-color: aqua; */
}
.container{
    font-size: 4rem;
    border: 2px solid white;
    width: 300px;
    margin-top: 58px;
    margin-left: 142px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}
.item{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}