*{
    margin: 0;
    padding: 0;
}
/* html{
    font-size: 65.5%;
    /* 65.5% = 1rem = 10px */
/* } */ 
body{
    color: white;
    background-color: black;

    /* background-color: aqua; */
}
.container{
    border: 2px solid white;
    width: 300px;
    margin-top: 58px;
    margin-left: 142px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}
.item{
    border: 1px solid white;
}
/* .secondcol, .fifthcol, .eightcol{
    border: 2px solid;
    border-top: none;
}
.eightcol{
    border-bottom: none;
}
.forthcol, .sixthcol{
    border-top: 2px solid white;
    border-bottom: 2px solid;
}
.zeroIcn, .closeIcn{
    height: 100%;
    display: none;
}
.zeroIcn img, .closeIcn img{
    width: 100%;
}
.show{
    display: block;
} */